{% extends 'base.html' %}
{% block d3container %}
    
    <div class='container'>
    "Left to our own devices" is a port scanner and network visualization application. A computer's operating system make ports available——entry points for sending and receiving messages across a range of services, such as e-mail and websites, a smartphone, or a monitor. Opening up a system to communicate with the outside world also exposes it to potential vulnerabilities. Port scanning is a technique for checking the open ports and available services on a network host. Think of it as identifying the doors and windows a criminal could use to break into a house, as opposed to actually breaking in. Security experts use scanning as a precautionary measure. Hackers use it as first pass at exploitation. I'm just a curious person. 
    <p><p>
    Enjoy responsibly.
    </div>

    

{% endblock %}
