{% extends 'base.html' %}
{% block d3container %}
    
    <style>

    p { margin-bottom: 0px; }

    .full-circle {
        background-color: #c06;
        max-width:200px;
        height: 20px;
        margin-bottom:5px;
        padding-right:10px;
        margin-right:5px;
        -moz-border-radius:10px;
        -webkit-border-radius: 10px;
        width: 20px;
        display:block;
    }

    .svg-container {
	    display: inline-block;
	    position: relative;
	    width: 100%;
	    padding-bottom: 100%; /* aspect ratio */
	    vertical-align: top;
	    overflow: hidden;
	}
	
	.svg-content-responsive {
		display: inline-block;
		position: absolute;
		top: 10px;
		left: 0;
	}

    .link {
        stroke: #999;
        stroke-width:1px;
    }

    .margin-b1 {
    	margin-bottom:20px;
    }

    .col-md-12 {
        border:solid;
        border-width: 0.1px;
        border-color:rgba(245,245,245,0.2);
        padding-left:10px;
    }

    .footer {
        font-size:16px;
        margin-top:30px;
        margin-bottom:30px;
    }

    .content {
		width: 71.875%; /* 650/960 */
		max-width: 960px;
		position:absolute;
    }

    .info {
    	font-family:"Maison Mono Light";
    	margin-top:40px;
    	cursor:pointer;
        -moz-column-width: 10em; /* Firefox */
		-webkit-column-width: 10em; /* webkit, Safari, Chrome */
		column-width: 10em;
        
    }

    .key {
    	display: block;
    	margin-top:50px;
    }

    svg {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%)
    }

    .legend {
        border-bottom: solid;
        border-width: 0.1px;
        width:150px;
        padding-top:5px;
        padding-bottom:1px;
        font-family: "Maison Neue Demi";
        font-size:16px;
        position:absolute;
        text-transform: uppercase;
    }

    .scan {
        margin-top:10px;
        z-index:10;
    }

    .network {
    	margin-bottom:5px;
    }

    .scan a:active {
      color:#fff;
      text-decoration: none;
    }

    .sub-hed-mono {
    	font-family:"Maison Neue Mono";
    	margin-bottom:5px;
    	font-size:14px;
    	color:rgba(158, 158, 158, 1.0);
    }

    .sub-link {
    	font-family: "Maison Mono Light";
    	color: #;
    }

    .width2 {
    	width:200px;
    }

    .margin3 {
    	margin-left:30px;
    }

    </style>

    <div class='container'>
        <div class='col-md-12'>
            <a class='btn scan' style='position:absolute' role='button' href='/scan'>SCAN</a>
            <script src='{{ url_for('static', filename='js/network.js') }}'></script>      
        </div>

        <div class='col-md-2'>
        <h6 class='legend'>Legend</h6>
            <div class='content'>
            <div class='key'>
                <div class='full-circle' style='background-color:#FF2B1A'>
                	<p class='margin3 width2'>Linux</p>
                </div>
                <p>
                <div class='full-circle' style='background-color:#31984D'>
                	<p class='margin3 width2'>Mac OS X</p>
                </div>
                <p>
                <div class='full-circle' style='background-color:#20B8FE'>
                	<p class='margin3 width2'>iPhone</p>
  				</div>
                <p>
                <div class='full-circle' style='background-color:#C300FF'>
               		<p class='margin3 width2'>Unknown/ Other</p>
                </div>
            </div>
            <div class='info'>
            	<div class='host'></div>
            	<div class='network'></div>
            </div>
        </div>
    <script src='static/components/jquery/dist/jquery.js'></script>
{% endblock %}
