{% extends 'base.html' %}
{% block d3container %}
    
    <style>

    .full-circle {
        display:inline-block;
        float:left;
        background-color: #c06;
        height: 20px;
        margin-bottom:4px;
        margin-right:5px;
        -moz-border-radius:10px;
        -webkit-border-radius: 10px;
        width: 20px;
    }

    .link {
        stroke: #999;
        stroke-width:1px;
    }

    .col-md-10 {
        border:solid;
        border-width: 0.1px;
        border-color:#ccc;
        padding-top:10px;
        padding-left:25px;
    }


    @media (min-width: 400px) {
        .info-footer {
            position:absolute;
            cursor: pointer;
            float:right;
            clear:right;
            margin-top:20px;
            text-transform:uppercase;
        }
    }

    @media (min-width: 768px) {
        .info-footer {
            position:absolute;
            cursor: pointer;
            float:right;
            clear:right;
            top:15;
            text-transform:uppercase;
        }
    }

    @media (min-width: 992px) {
        .info-footer {
            position:absolute;
            cursor: pointer;
            float:right;
            clear:right;
            bottom:0;
            text-transform:uppercase;
        }
    }
    
    @media (min-width: 1200px) {
        .info-footer {
            position:absolute;
            cursor: pointer;
            float:right;
            clear:right;
            bottom:10;
            text-transform:uppercase;
        }
    }

    svg {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%)
    }

    .legend {
        border-bottom: solid;
        border-width: 0.1px;
        width:150px;
        padding-top:5px;
        padding-bottom:1px;
        font-size:16px;
        text-transform: uppercase;
    }

    .info {
        float:left;
        position:absolute;
    }

    .btn {
        font-size:14px;
        border-color:white;
        background-color:#080A40;
    }

    .under-nav {
        margin-left:-5px;
        margin-top:10px;
    }

    </style>

    <div class='container'>
        <div class='col-md-10'>
            <a class='btn under-nav' role='button' href='/scan'>SCAN</a></button>
            <script src='{{ url_for('static', filename='js/network.js') }}'></script>
            
        </div>
        <div class='col-md-2'>
            <h6 class='legend'>Legend</h6>
                <div class='circle-keys-inner'>
                    <div class='info'></div>
                    <div class='full-circle' style='background-color:#FF2B1A'>
                    </div>Linux
                    <p>
                    <div class='full-circle' style='background-color:#31984D'>
                    </div>Mac OSX
                    <p>
                    <div class='full-circle' style='background-color:#20B8FE'>
                    </div>iPhone
                    <p>
                    <div class='full-circle' style='background-color:#C300FF'>
                    </div>Unknown
                </div>
                <div class='info-footer'><a></a></div>
        </div>

    <script src='static/components/jquery/dist/jquery.js'></script>
    

{% endblock %}
